Programming & Data Processing:
  Python
  Pandas
  NumPy

Natural Language Processing
  NLTK
  Regular Expressions (Regex)
  TF-IDF

Machine Learning
  Scikit-learn
  Multinomial Naive Bayes
  Logistic Regression
  Linear Support Vector Machine

Data Visualization
  Matplotlib
  Seaborn

Development Environment
  Google Colab
  Jupyter Notebook
